

@model IEnumerable<Order>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3" style="margin-top: 10rem">

    <partial name="_Notifications" />

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-white">Orders View</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Order" asp-action="New" class="btn btn-primary">
                <i class="bi bi-plus"></i> &nbsp; Add New Order
            </a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                
                <th scope="col">
                    Food
                </th>

                <th scope="col">
                    OrderDate
                </th>

                <th scope="col">
                    ClientName
                </th>

                <th scope="col">
                    ClientPhone
                </th>

                <th scope="col">
                    ClientAddress
                </th>
               
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-primary">
                    <td scope="row" width="30%">
                        @item.Food!.Name
                    </td>

                    <td width="20%">
                        @item.CreatedDate
                    </td>

                    <td width="20%">
                        @item.ClientName
                    </td>

                    <td width="20%">
                        @item.ClientPhone
                    </td>


                    <td width="20%">
                        @item.ClientAddress
                    </td>



                    <td>
                        <a asp-controller="Food" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-sm btn-success">
                            <i class="bi bi-pencil"></i>
                        </a>
                        &nbsp;
                        <a asp-controller="Food" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


